/dist-sys-handout.aux
/dist-sys-handout.bbl
/dist-sys-handout.blg
/dist-sys-handout.log
/dist-sys-handout.nav
/dist-sys-handout.out
/dist-sys-handout.pdf
/dist-sys-handout.snm
/dist-sys-handout.toc
/dist-sys-notes.aux
/dist-sys-notes.bbl
/dist-sys-notes.blg
/dist-sys-notes.log
/dist-sys-notes.out
/dist-sys-notes.pdf
/dist-sys-notes.toc
/dist-sys-slides.aux
/dist-sys-slides.bbl
/dist-sys-slides.blg
/dist-sys-slides.log
/dist-sys-slides.nav
/dist-sys-slides.out
/dist-sys-slides.pdf
/dist-sys-slides.snm
/dist-sys-slides.toc
/examples1.aux
/examples1.log
/examples1.out
/examples1.pdf
/exercises.tex
/solutions.aux
/solutions.log
/solutions.out
/solutions.pdf
